<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Redefinição de Senha</h1>
    <p>Olá, <%= @user.name %>!</p>
    <p>
      Você solicitou a redefinição de sua senha no Apolo Anki.
    </p>
    <p>
      Para escolher uma nova senha, clique no link abaixo:
    </p>
    <p>
      <%= link_to 'Redefinir minha senha', @url %>
    </p>
    <p>
      Se você não solicitou essa alteração, por favor ignore este e-mail.
    </p>
    <p>O link expirará em 2 horas.</p>
  </body>
</html>
